<html>

	<head>

		<title> socket logs :{{port}} </title>

		<link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAQAQAQAAAAAQAQAQAAAAAQAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA7bcAAPtvAAD3/wAA7/8AAP//AAD3/wAA7/8AAP//AAD3/wAA7/8AAP//AAD3/wAA7/8AAP//AAD//wAA" rel="icon" type="image/x-icon">

		<script src="/socket.io/socket.io.js"></script>

		<style>
			.log {
				border: 1px solid #000;
				padding: 10px;
				overflow-y: auto;
				height: 90%;
			}
		</style>
	</head>

	<body>
		<pre id="log" class="log"></pre>
		<button id="clear-log">clear</button>
		<script>
			var socket = io.connect('{{host}}:{{port}}');

			var el = document.getElementById('log');
			var bt = document.getElementById('clear-log');

			bt.addEventListener('click', function() {
				el.innerHTML = '';
			}, false);

			socket.on('log', function (data) {
				el.innerHTML += data;
				el.scrollTop = el.scrollHeight;
			});
		</script>
    <script>
      var log = document.getElementById('log');
      var lastLength = 0;
      setInterval(function() {
        if (log.innerHTML.length === lastLength) {
          return;
        }
        log.innerHTML = log.innerHTML.replace(
            /([^>])\/var\/www\/halp\.me\/website\/api\/((?!node_modules)[^:]+):(\d+)/,
            '$1<a href="https://github.com/joshterrell805/halp.me/blob/master/website/api/$2#L$3">/var/www/halp.me/website/api/$2:$3</a>');
        lastLength = log.innerHTML.length;
      }, 1000);
    </script>

	</body>

</html>
